$font-primary: 'Montserrat';
$font-size-48-desktop: 48px;
$font-size-24-desktop: 24px;
$font-size-16-desktop: 16px;
$font-size-10-desktop: 10px;
$font-weight-regular: 400;
$font-weight-bold: 700;