* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

main {
  background-color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

main .box1 {
  background-color: #F3B230;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

main .box1 .box1_article {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main .box1 .box1_article .hr {
  background-color: #2E1A2E;
  border: none;
  width: 80%;
  height: 1px;
}

main .box1 .box1_article p span {
  font-weight: 700;
}

main .box2 {
  background-color: #2E1A2E;
  color: #ffffff;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  padding: 40px;
}

main .box2 .box2_article {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .box2 .box2_article a {
  height: 50px;
  width: 150px;
  text-decoration: none;
}

main .box2 .box2_article a .box2_article-button {
  width: 100%;
  height: 100%;
  background-color: #884C88;
  color: #ffffff;
  border: 0;
}

main .box3 {
  background-color: #352317;
  color: #ffffff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .box4 {
  background-color: #352317;
  color: #ffffff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .box5 {
  background-color: #352317;
  color: #ffffff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .box6 {
  background-color: #ffffff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

main .box7 {
  background-color: #CC6C5C;
}

main .box8 {
  background-color: #312651;
}

main .box9 {
  background-color: #B64115;
  color: #ffffff;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .box10 {
  background-color: #F3B230;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

main .box11 {
  background-color: #ffffff;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
}

main .font-10 {
  font-size: 10px;
}

main .font-16 {
  font-size: 16px;
}

main .font-24 {
  font-size: 24px;
}

main .font-48 {
  font-size: 48px;
  font-weight: 700;
}

main .spacing {
  letter-spacing: 5px;
}
/*# sourceMappingURL=style.css.map */